:root {
  --danger-5: rgba(252, 243, 243, 1);
  --danger-10: rgba(248, 230, 230, 1);
  --danger-100: rgba(193, 12, 6, 1);
  --danger-120: rgba(154, 9, 4, 1);
  --danger-150: rgba(96, 5, 2, 1);
  --discount: rgba(55, 166, 0, 1);
  --gray-0: rgba(255, 255, 255, 1);
  --gray-5: rgba(242, 242, 245, 1);
  --gray-10: rgba(232, 232, 233, 1);
  --gray-20: rgba(210, 210, 212, 1);
  --gray-40: rgba(164, 164, 169, 1);
  --gray-60: rgba(119, 119, 127, 1);
  --gray-80: rgba(47, 47, 51, 1);
  --gray-90: rgba(24, 24, 29, 1);
  --gray-100: rgba(0, 0, 0, 1);
  --highlight-5: rgba(253, 245, 246, 1);
  --highlight-10: rgba(251, 234, 237, 1);
  --highlight-100: rgba(214, 34, 68, 1);
  --highlight-120: rgba(172, 29, 55, 1);
  --highlight-150: rgba(107, 18, 34, 1);
  --info-5: rgba(249, 251, 252, 1);
  --info-10: rgba(227, 234, 242, 1);
  --info-100: rgba(135, 170, 200, 1);
  --info-120: rgba(108, 136, 160, 1);
  --info-150: rgba(67, 84, 99, 1);
  --primary-5: rgba(248, 248, 250, 1);
  --primary-10: rgba(238, 242, 245, 1);
  --primary-100: rgba(31, 116, 190, 1);
  --primary-120: rgba(28, 93, 150, 1);
  --primary-150: rgba(14, 36, 55, 1);
  --status-chips-inactive: rgba(244, 241, 241, 1);
  --status-chips-negative: rgba(252, 232, 230, 1);
  --status-chips-neutral: rgba(230, 244, 251, 1);
  --status-chips-positive: rgba(234, 251, 243, 1);
  --status-chips-warning: rgba(255, 247, 176, 1);
  --success-5: rgba(245, 250, 244, 1);
  --success-10: rgba(235, 246, 233, 1);
  --success-100: rgba(56, 166, 41, 1);
  --success-120: rgba(44, 132, 32, 1);
  --success-150: rgba(22, 66, 16, 1);
  --visited-5: rgba(247, 242, 250, 1);
  --visited-10: rgba(239, 229, 244, 1);
  --visited-100: rgba(102, 0, 153, 1);
  --visited-120: rgba(81, 0, 122, 1);
  --visited-150: rgba(50, 0, 76, 1);
  --warning-5: rgba(255, 251, 242, 1);
  --warning-10: rgba(255, 250, 230, 1);
  --warning-100: rgba(255, 171, 0, 1);
  --warning-120: rgba(204, 136, 0, 1);
  --warning-150: rgba(77, 56, 0, 1);
}
